@import "tailwindcss";

p, h1, h2, h3, h4, h5, h6k, li, span, div {
  color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0b0f29;
}


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0f29;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #5b21b6, #9333ea);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #7c3aed, #a855f7);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #7c3aed #0b0f29; /* thumb | track */
}

html {
  scroll-behavior: smooth;
}
